body{
    margin: 0;
}

.quiz{
    margin: 0 auto;
    width: 600px;
}

.quiz-questions,
.quiz-indicator,
.quiz-results{
    margin-bottom: 20px;
}

/* .quiz-questions-item,
.quiz-results-item{

} */

.quiz-questions-item-answers{
    margin: 0;
    padding: 0;
    list-style: none;
}

.quiz-questions-item-question{
    font-size: 20px;
    margin-bottom: 20px;
}

.quiz-results-item-answers{
    margin: 0;
    padding: 0;
    list-style: none;
}

.quiz-results-item-question{
    font-size: 20px;
    margin-bottom: 20px;
}